SpreadSheetsReports/ReportModel/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReportDefinition" nillable="true" type="ReportDefinition" />
  <xs:complexType name="ReportDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="ReportControl">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Sheets" type="ArrayOfSheet" />
          <xs:element minOccurs="0" maxOccurs="1" name="DataSource" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReportControl" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Bindings" type="ArrayOfPropertyBinding" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPropertyBinding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyBinding" nillable="true" type="PropertyBinding" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PropertyBinding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PropertyName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DataMember" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DataSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FooterSection">
    <xs:complexContent mixed="false">
      <xs:extension base="ReportControl">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Rows" type="ArrayOfRow" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Row" nillable="true" type="Row" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Row">
    <xs:complexContent mixed="false">
      <xs:extension base="ReportControl">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Cells" type="ArrayOfCell" />
          <xs:element minOccurs="1" maxOccurs="1" name="Height" nillable="true" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cell" nillable="true" type="Cell" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Cell">
    <xs:complexContent mixed="false">
      <xs:extension base="ReportControl">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Style" type="CellStyle" />
          <xs:element minOccurs="0" maxOccurs="1" name="ClassName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Value" />
          <xs:element minOccurs="1" maxOccurs="1" name="Type" type="CellType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CellStyle">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ShrinkToFit" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Font" type="FontStyle" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsHidden" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsLocked" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="HorizontalAlignment" type="HorizontalAlignment" />
      <xs:element minOccurs="1" maxOccurs="1" name="VerticalAlignment" type="VerticalAlignment" />
      <xs:element minOccurs="1" maxOccurs="1" name="Indent" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="WrapText" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Rotation" type="xs:byte" />
      <xs:element minOccurs="0" maxOccurs="1" name="BorderStyleTop" type="BorderStyle" />
      <xs:element minOccurs="0" maxOccurs="1" name="BorderStyleBottom" type="BorderStyle" />
      <xs:element minOccurs="0" maxOccurs="1" name="BorderStyleLeft" type="BorderStyle" />
      <xs:element minOccurs="0" maxOccurs="1" name="BorderStyleRight" type="BorderStyle" />
      <xs:element minOccurs="0" maxOccurs="1" name="BorderStyleDiagonalUpLeftToBottomRight" type="BorderStyle" />
      <xs:element minOccurs="0" maxOccurs="1" name="BorderStyleDiagonalUpRightToBottomLeft" type="BorderStyle" />
      <xs:element minOccurs="1" maxOccurs="1" name="FillPatternStyle" type="FillPatternStyle" />
      <xs:element minOccurs="1" maxOccurs="1" name="FillPatternColor" nillable="true" type="Color" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FontStyle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FontName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsItalic" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsBold" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="Size" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Underline" type="UnderLineStyle" />
      <xs:element minOccurs="1" maxOccurs="1" name="ScriptStyle" type="FontScriptStyle" />
      <xs:element minOccurs="1" maxOccurs="1" name="Color" nillable="true" type="Color" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UnderLineStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Single" />
      <xs:enumeration value="Double" />
      <xs:enumeration value="SingleAccounting" />
      <xs:enumeration value="DoubleAccounting" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FontScriptStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Superscript" />
      <xs:enumeration value="Subscript" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Color">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Alpha" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="Red" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="Green" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="Blue" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="HorizontalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="General" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="Fill" />
      <xs:enumeration value="Justify" />
      <xs:enumeration value="CenterAcrossSelection" />
      <xs:enumeration value="Distributed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerticalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bottom" />
      <xs:enumeration value="Top" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Justify" />
      <xs:enumeration value="Distributed" />
      <xs:enumeration value="JustifyDistributed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BorderStyle">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="BorderType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Color" nillable="true" type="Color" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BorderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Thin" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="Dashed" />
      <xs:enumeration value="Dotted" />
      <xs:enumeration value="Thick" />
      <xs:enumeration value="Double" />
      <xs:enumeration value="Hair" />
      <xs:enumeration value="MediumDashed" />
      <xs:enumeration value="DashDot" />
      <xs:enumeration value="MediumDashDot" />
      <xs:enumeration value="DashDotDot" />
      <xs:enumeration value="MediumDashDotDot" />
      <xs:enumeration value="SlantedDashDot" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FillPatternStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Solid" />
      <xs:enumeration value="ThreeQuarters" />
      <xs:enumeration value="OneHalf" />
      <xs:enumeration value="OneQuarter" />
      <xs:enumeration value="OneEight" />
      <xs:enumeration value="OneSixteenth" />
      <xs:enumeration value="HorizontalStripe" />
      <xs:enumeration value="VerticalStripe" />
      <xs:enumeration value="ReverseDiagonalStripe" />
      <xs:enumeration value="DiagonalStripe" />
      <xs:enumeration value="DiagonalCrosshatch" />
      <xs:enumeration value="ThickDiagonalCrosshatch" />
      <xs:enumeration value="ThinHorizontalStripe" />
      <xs:enumeration value="ThinVerticalStripe" />
      <xs:enumeration value="ThinReverseDiagonalStripe" />
      <xs:enumeration value="ThinDiagonalStripe" />
      <xs:enumeration value="ThinHorizontalCrosshatch" />
      <xs:enumeration value="ThinDiagonalCrosshatch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CellType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Numeric" />
      <xs:enumeration value="Date" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="Formula" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="HeaderSection">
    <xs:complexContent mixed="false">
      <xs:extension base="ReportControl">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Rows" type="ArrayOfRow" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReportSection">
    <xs:complexContent mixed="false">
      <xs:extension base="ReportControl">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Header" type="HeaderSection" />
          <xs:element minOccurs="0" maxOccurs="1" name="SubSection" type="ReportSection" />
          <xs:element minOccurs="0" maxOccurs="1" name="Footer" type="FooterSection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Sheet">
    <xs:complexContent mixed="false">
      <xs:extension base="ReportControl">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Content" type="ReportSection" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfSheet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sheet" nillable="true" type="Sheet" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>